# 김왼손의 왼손코딩 1일 1파이썬 : 초급자를 위한 파이썬 50제
## 30 seconds of code
### 2022-04-05 1일차

## 02 all_unique / List
Return True if all the values in a list are unique, False otherwise.

Use set() on the given list to remove duplicates, use len() to compare its length with the length of the list.

In [1]:
def all_unique(lst):
    return len(lst) == len(set(lst))

In [2]:
all_unique([1, 2, 3, 4, 5])

True

In [3]:
all_unique([1, 2, 3, 3, 5])

False

## 03 capitalize_every_word
Capitalizes the first letter of every word in a string.

Use s.title() to capitalize first letter of every word in the string.

In [9]:
def capitalize_every_word(s):
    return s.title()

In [11]:
capitalize_every_word('hello world')

'Hello World'

## 04 celsius_to_fahrenheit
converts Celsius to Farenheit.

Use the formula fahrenheit = (celsius * 1.8) + 32 to convert from Celsius to Fareheit.

In [12]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 1.8) + 32

In [15]:
celsius_to_fahrenheit(100)

212.0

## 05 compact

Removes falsey values from a list.
Use filter() to filter out **falsey values (False, None, 0, and "").**

**filter(None, lst) : 리스트에서 None 값을 제거해주는 함수. 원래는 첫 항목이 참이 되게 하는 값만 반환함.**

In [20]:
def compact(lst):
    return list(filter(None, lst))

In [23]:
a = [1, 2, 3, False, None, 0, " ", "v", ""]
compact(a)

[1, 2, 3, ' ', 'v']

## 06 count_occurences
Counts the occurences of a value in a list.

Increment a counter for every item in the list that has the given value and is of the same type.

In [28]:
def count_occurences(lst, val):
    return len([x for x in lst if x == val and type(x) == type(val)])

**list 안에 for와 if를 동시에 사용할 수 있다!**

In [31]:
count_occurences([1, 2, 3, 1, 2, 3, 3, 3, 3], 3)

5

## 07 degrees_to_rads
Converts an angle from degrees to radians.

Use math.pi and the degrees to radians formula to convert the angle from degrees to radians.

**(각도/180) * pi , 180도는 pi라디안**

In [36]:
from math import pi

def degrees_to_rads(deg):
    return (deg * pi) / 180.0

In [37]:
degrees_to_rads(180)

3.141592653589793

## 08 difference
Returns the difference between two iterables.

Create a set from b, then use list comprehension on a to only keep values not contained in the previously created set, _b.

In [38]:
def difference(a, b):
    _b = set(b)
    return [x for x in a if x not in _b]

In [39]:
difference([1, 2, 3], [3, 4, 5])

[1, 2]

## 09 digitize
Converts a number to a list of digits.

Use map() combined with int on the string repreentation of n and return a list from the result.

숫자를 하나하나 쪼개어서 리스트로 만들기.

In [44]:
def digitize(n):
    return list(map(int, str(n)))

**map : str(n)에 int 함수를 적용.**

In [46]:
digitize(123)

[1, 2, 3]

## 10 drop

Returns a list with n elements removed from the left.

Use slice notation to remove the specified number of elements from the left.

In [52]:
def drop(lst, n = 1): #기본값 1로 지정
    return lst[n:]

In [53]:
drop([1, 2, 3, 4, 5], 2)

[3, 4, 5]

## 11 drop_right

Returns a list with n elements removed from the right.

Use slice notation to remove the specified number of elements from the right.

In [54]:
def drop_right(lst, n = 1): #기본값 1로 지정
    return lst[:-n]

In [55]:
drop_right([1, 2, 3, 4, 5], 2)

[1, 2, 3]

## 12 every_nth

## 13 fahrenheit_to_celsius