# 파이썬 실습
### 220705 ~ 220706
https://wikidocs.net/86465

--------------------------------

# TIL
---------------------

# 연습문제 실습

* 몫과 나머지 한번에 구하기

In [13]:
divmod(50, 8)

(6, 2)

--------------
## **2. 제어 구조**
* input시 맨앞 공백 없애는 방법 : ''를 먼저 print하기

In [21]:
num = int(input())

i = 0
while i < num:
    print('', num)
    i += 1

 3

 3
 3
 3

* print 내부의 쉼표 사이에는 자동으로 공백이 삽입된다.

In [20]:
num = int(input())
i = 1

while i <= num:
    print(i, i**2)
    i += 1

 3

1 1
2 4
3 9

* print할 때 앞에 i를 붙이면 확인하기 편하다.

In [28]:
i = 1
n = 100
bounce = 3 / 5
while i <= 10:
    n *= bounce
    print(i, round(n, 4))
    i += 1

1 60.0
2 36.0
3 21.6
4 12.96
5 7.776
6 4.6656
7 2.7994
8 1.6796
9 1.0078
10 0.6047

In [32]:
n = input()
if n == "1":
    print("일")
elif n == "2":
    print("이")
elif n == "3":
    print("삼")

 3

삼

In [36]:
n = int(input())
if n >= 1000000:
    n = str(n // 1000000) + "M"
print(n)

 1000000

1M

In [38]:
answer = 0

while True:
    n = int(input())
    if n >= 0:
        answer += n
    else:
        print(answer)
        break

 1
 1
 1
 1
 1
 1
 1
 1
 1
 1
 -1

10

In [41]:
n = int(input())
if n % 4 != 0:
    print(n, "년은 평년입니다.")
elif n % 100 == 0 and n % 400 == 0:
    print(n, "년은 윤년입니다.")
elif n % 100 == 0:
    print(n, "년은 평년입니다.")
else:
    print(n, "년은 윤년입니다.")

 4000

4000 년은 윤년입니다.

In [46]:
n = int(input())
for i in range(1, n+1):
    print(i, (i) ** 2)

 3

1 1
2 4
3 9

In [ ]:
min, max = map(int, input().split())

temp = int(input())

while temp != -999:
    if min <= temp <= max:
        print('Nothing to report')
        temp = int(input())
    else:
        print('Alert!')
        break

------------------------------
## 3. 함수

In [9]:
def gugudan():
    for i in range(2, 10):
        for j in range(1, 10):
            print(f'{i} * {j} = {i*j}')

In [10]:
gugudan()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [11]:
def quiz():
    ans = input('1 + 2 = ')
    return 1 + 2 == int(ans)

In [13]:
quiz()

1 + 2 =  5

False

In [17]:
def korean_number(i):
    if i == 1:
        return "일"
    elif i == 2:
        return "이"
    elif i == 3:
        return "삼"
    elif i == 4:
        return "사"
    elif i == 5:
        return "오"
    elif i == 6:
        return "육"
    elif i == 7:
        return "칠"
    elif i == 8:
        return "팔"
    elif i == 9:
        return "구"
    elif i == 10:
        return "십"

In [19]:
korean_number(8)

'팔'

In [20]:
def triple(a):
    return a * 3

In [21]:
triple("*")

'***'

In [23]:
from datetime import datetime
today = datetime.today()
today

datetime.datetime(2022, 7, 6, 9, 31, 10, 286775)

In [24]:
today.year

2022

In [27]:
def korean_age(i):
    from datetime import datetime
    today = datetime.today()
    return (today.year - i) + 1

In [28]:
korean_age(1997)

26

In [29]:
#이자 계산
def simple_interest(p, r, t):
    return p * r * t

In [30]:
simple_interest(10000000, 0.03875, 5)

1937500.0

In [32]:
simple_interest(1100000, 0.05, 5/12)

22916.666666666668

In [31]:
#원리금 계산
def simple_interest_amount(p, r, t):
    return p * (1 + r * t)

In [33]:
simple_interest_amount(10000000, 0.03875, 5)

11937500.0

In [34]:
simple_interest_amount(1100000, 0.05, 5/12)

1122916.6666666665

In [35]:
#복리로 원리금 계산
def compound_interest_amount(p, r, t, n):
    return p * (1 + r / n) ** (n * t)

In [36]:
compound_interest_amount(1500000, 0.043, 6, 4)

1938836.8221341055

In [37]:
compound_interest_amount(1500000, 0.043, 6, 1/2)

1921236.0840000005

In [59]:
"3".isdigit()

True

In [118]:
a= [1, 2, 3]
a.pop(0)
a

[2, 3]

In [137]:
"abc".find("e")

-1

In [167]:
def read(text):
    lst = text.split(": ")
    ridename = lst.pop(0)
    if lst[0].find("cm") == -1:
        cmmin = None
        cmmax = None
        return ridename, cmmin, cmmax
    else:
        numlst = lst[0].split("cm")
        cmmin = int(numlst.pop(0))
        cmmax = None
        
        if numlst[0].find("~") > -1:
            cmmax = int(numlst[0][1:])
            
    return ridename, cmmin, cmmax
    

if __name__ == "__main__":
    ridename, cmmin, cmmax = read(input())
    print("이름:", ridename)
    print("하한:", cmmin)
    print("상한:", cmmax)

 툼 오브 호러: -

이름: 툼 오브 호러
하한: None
상한: None

In [161]:
read("와일드 윙: 110cm 이상")

('와일드 윙', 110, None)

In [162]:
read("플라이벤처: 140cm~195cm")

('플라이벤처', 140, 195)

In [168]:
read("툼 오브 호러: -")

('툼 오브 호러', None, None)

In [169]:
def read(text):
    ridename, limit = map(str.strip, text.split(':'))
    
    cmmin = cmmax = None
    if '~' in limit:
        cmmin, cmmax = map(lambda x: int(x.replace('cm', '')), limit.split('~'))
    elif "이상" in limit:
        cmmin = int(limit.split("cm")[0])

    return ridename, cmmin, cmmax


if __name__ == "__main__":
    ridename, cmmin, cmmax = read(input())
    print("이름:", ridename)
    print("하한:", cmmin)
    print("상한:", cmmax)

 툼 오브 호러: -

이름: 툼 오브 호러
하한: None
상한: None

------------------
## 4. 자료형

* 복소수 : complex

In [170]:
type(3+4j)

complex

* 시퀀스
    * 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스
    * for 에 사용 가능

In [185]:
def palindrome(s):
    s = s.lower().replace(" ", "")
    return s == s[::-1]

In [186]:
palindrome('anna') #True

True

In [187]:
palindrome('banana') #False

False

In [188]:
palindrome('Anna')

True

In [189]:
palindrome('My gym')

True

In [190]:
a = [1, 2, 3]
del a[0]
a

[2, 3]

* pop() 마지막 원소 삭제

In [191]:
b = a.pop()
a, b

([2], 3)

In [192]:
a[0] = 4
a

[4]

In [199]:
def sumOfDigits(num):
    return sum(list(map(int, list(str(num)))))

In [200]:
sumOfDigits(643)

13

In [201]:
sumOfDigits(47253)

21

------------------------------------
## 5. 모듈

In [2]:
import calendar
calendar.prmonth(2013, 7)

     July 2013
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [63]:
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_monthlen',
 '_nextmonth',
 '_prevmonth',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthrange',
 'prcal',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

In [64]:
[x for x in dir(calendar) if 'leap' in x]

['isleap', 'leapdays']

In [66]:
help(calendar.isleap)

Help on function isleap in module calendar:

isleap(year)
    Return True for leap years, False for non-leap years.

In [67]:
calendar.isleap(2077)

False

In [13]:
from tkinter import * # 전부 가져오기. 모듈 이름 쓸 필요 없다. (함수 이름 겹칠 수도 있음.)
widget = Label(None, text='I love Python!')
widget.pack() #무언가 뜨는 것 같은데 주피터노트북에선 뜨지 않는다.

In [14]:
import tkinter
tkinter.widget = tkinter.Label(None, text='I love Python!')
tkinter.widget.pack()

* 모듈 지우기

In [15]:
del tkinter

In [1]:
import tkinter as tk

s = "Life is short\nUse Python"

root = tk.Tk()
t = tk.Text(root, height=2, width=13)
t.insert(tk.END, s)
t.pack()
tk.mainloop()

In [12]:
import calendar
import tkinter as tk

c = calendar.TextCalendar()
m = c.formatmonth(2022, 7)
root = tk.Tk()
t = tk.Text(root, height=7, width=20)
t.insert(tk.END, m)
t.pack()
tk.mainloop()

In [202]:
read("")

('와일드 윙', 110, None)

In [222]:
def allowedrides(height):
    lst = list(map(read, """와일드 윙: 110cm 이상
드림보트: 120cm 이상
자이안트 루프: 120cm 이상
툼 오브 호러: -
플라이벤처: 140cm~195cm
회전목마: 100cm 이상
매직 붕붕카: 110cm~140cm""".split("\n")))
    result = []
    for i in lst:
        if i[1] == None:
            result.append(i[0])
        elif i[2] == None:
            if height >= i[1]:
                result.append(i[0])
        else:
            if height >= i[1] and height <= i[2]:
                result.append(i[0])
    return result

In [225]:
allowedrides(150)

['와일드 윙', '드림보트', '자이안트 루프', '툼 오브 호러', '플라이벤처', '회전목마']

In [228]:
def allowedrides(height):
    lst = list(map(read, """와일드 윙: 110cm 이상
드림보트: 120cm 이상
자이안트 루프: 120cm 이상
툼 오브 호러: -
플라이벤처: 140cm~195cm
회전목마: 100cm 이상
매직 붕붕카: 110cm~140cm""".split("\n")))
    result = []
 
    for i in lst:
        ridename, cmmin, cmmax = i[0], i[1], i[2]
        if (not cmmin and not cmmax) or (height >= cmmin and not cmmax) or (cmmin <= height <= cmmax):
            result.append(ridename)
    
    return result

In [229]:
allowedrides(150)

['와일드 윙', '드림보트', '자이안트 루프', '툼 오브 호러', '플라이벤처', '회전목마']

In [233]:
#import sys

#sys.path.append("../ch03")

#import ridereader

In [236]:
{1, 2, 3} & {2}

{2}

In [243]:
def allowedrides_together(heights):
    friends = heights.split()
    lst = []
    for f in friends:
        lst.append(set(allowedrides(int(f))))
    answer = lst[0]
    for i in range(len(lst)-1):
        answer = answer & lst[i+1]
    return answer

In [244]:
allowedrides_together("110 120 179")

{'와일드 윙', '툼 오브 호러', '회전목마'}

* set.intersection(*lst) : 리스트 내 모든 원소의 교집합 구하기

In [247]:
def allowedrides_together(heights):
    friends = heights.split()
    lst = []
    for f in friends:
        lst.append(set(allowedrides(int(f))))

    return set.intersection(*lst)

In [248]:
allowedrides_together("110 120 179")

{'와일드 윙', '툼 오브 호러', '회전목마'}

* sys : 파이썬 인터프리터를 제어할 수 있는 방법을 제공

In [249]:
import sys

In [251]:
sys.ps1

'In : '

* os : 운영체제(OS : Operating System)를 제어

In [252]:
import os
os.getcwd()

'C:\\Users\\User\\Documents\\python'

In [253]:
os.listdir() # 무슨 폴더가 있는지 확인

['.ipynb_checkpoints',
 '2021',
 '2022',
 'git',
 'kaggle',
 'medistep',
 'Untitled.ipynb',
 '왕초보실습.ipynb',
 '확인.ipynb']

In [254]:
os.chdir('git') # 해당 폴더로 디렉토리 변경
os.getcwd()

'C:\\Users\\User\\Documents\\python\\git'

In [255]:
os.chdir('..') # 상위 폴더로 디렉토리 변경
os.getcwd()

'C:\\Users\\User\\Documents\\python'

* re : 정규 표현식(regular expression)을 이용해 문자열을 다루기
     * 마침표(.)는 문자 아무거나 한 개를 뜻하고, 별표(*)는 0개 이상의 문자를 뜻한다.

In [257]:
import re, glob
p = re.compile('.*p.*n.*')
for i in glob.glob('*'):
    m = p.match(i)
    if m:
        print(m.group())

Untitled.ipynb
왕초보실습.ipynb
확인.ipynb

* webbrowser : 페이지 열기

In [258]:
import webbrowser
url='http://www.python.org/'
webbrowser.open(url)

True

In [259]:
import random
random.random() # 0이상 1미만의 난수

0.14055583223021184

In [261]:
random.randrange(1,7) # 주사위. 정수 중 난수

5

In [264]:
abc = ['a', 'b', 'c', 'd', 'e']
random.shuffle(abc) # 원소 섞기
abc

['d', 'a', 'e', 'c', 'b']

In [266]:
random.choice(abc) # 아무 원소나 하나 뽑기

'c'

In [267]:
random.choice([True, False])

True

--------------------------
## 6. 파일

In [285]:
f = open('Python_for_Fun.txt')
f.read()

'Programming is fun.\nVery fun!\n\nYou have to do it yourself...'

In [287]:
f = open('Python_for_Fun.txt')
print(f.read())

Programming is fun.
Very fun!

You have to do it yourself...

* w : '파일에 데이터를 쓰겠다'는 사실을 알려줄 필요가 있음.

In [288]:
letter = open('letter.txt', 'w') # 새 파일 열기
letter.write('Dear Father,')                      
letter.close() # 꼭 닫아줘야 한다!

In [289]:
letter = open('letter.txt', 'a+')
letter.write('\n\nHow are you?')
letter.close()

In [290]:
letter = open('letter.txt')
letter.read()

'Dear Father,\n\nHow are you?'

In [291]:
postcard = open('postcard.txt', 'w') # 새 파일 열기
postcard.write('''                August 29, 1943
Dear Iers:

After surrender, health improved
fifty percent.  Better food etc.
Americans lost confidence
in Philippines.  Am comfortable
in Nippon.  Mother: Invest
30%, salary, in business.  Love

                (signed)
                Frank G. Jonelis''')                      
postcard.close() # 꼭 닫아줘야 한다!

In [297]:
postcard = open('postcard.txt')
print(postcard.read())

                August 29, 1943
Dear Iers:

After surrender, health improved
fifty percent.  Better food etc.
Americans lost confidence
in Philippines.  Am comfortable
in Nippon.  Mother: Invest
30%, salary, in business.  Love

                (signed)
                Frank G. Jonelis

In [300]:
postcard = open('postcard.txt')
postcard.readline()

'                August 29, 1943\n'

In [301]:
postcard.readline()

'Dear Iers:\n'

In [332]:
postcard = open('postcard.txt', "r")
lines = postcard.read()
head, body, tail = tuple(lines.split("\n\n"))
print(body)

After surrender, health improved
fifty percent.  Better food etc.
Americans lost confidence
in Philippines.  Am comfortable
in Nippon.  Mother: Invest
30%, salary, in business.  Love

* re.sub("[문자문자문자]", "대체할 문자", str)

In [339]:
import re
s = re.sub('[:,.]', '', body)
print(s)

After surrender health improved
fifty percent  Better food etc
Americans lost confidence
in Philippines  Am comfortable
in Nippon  Mother Invest
30% salary in business  Love

In [341]:
answer = []
for i in s.split("\n"):
    ilst = i.upper().split()
    answer += ilst[:2]
print(" ".join(answer))

AFTER SURRENDER FIFTY PERCENT AMERICANS LOST IN PHILIPPINES IN NIPPON 30% SALARY

In [321]:
# 1
txt = open("postcard.txt", "r").read()
print("*** 1. Full Text ***\n" + txt + '\n')

# 2
head, body, tail = tuple(txt.split('\n\n'))
print("*** 2. Body ***\n" + body + '\n')

# 3
import re
s = re.sub('[:,\.]', '', body)
print("*** 3. Text without Punctuation ***\n" + s + '\n')

# 4
s = s.upper()
print("*** 4. Uppercase ***\n" + s + '\n')

# 5
secret_words = []
for line in s.split('\n'):
    secret_words += line.split()[:2]

message = ' '.join(secret_words)
print("*** 5. Secret Message ***\n" + message)

*** 1. Full Text ***
                August 29, 1943
Dear Iers:

After surrender, health improved
fifty percent.  Better food etc.
Americans lost confidence
in Philippines.  Am comfortable
in Nippon.  Mother: Invest
30%, salary, in business.  Love

                (signed)
                Frank G. Jonelis

*** 2. Body ***
After surrender, health improved
fifty percent.  Better food etc.
Americans lost confidence
in Philippines.  Am comfortable
in Nippon.  Mother: Invest
30%, salary, in business.  Love

*** 3. Text without Punctuation ***
After surrender health improved
fifty percent  Better food etc
Americans lost confidence
in Philippines  Am comfortable
in Nippon  Mother Invest
30% salary in business  Love

*** 4. Uppercase ***
AFTER SURRENDER HEALTH IMPROVED
FIFTY PERCENT  BETTER FOOD ETC
AMERICANS LOST CONFIDENCE
IN PHILIPPINES  AM COMFORTABLE
IN NIPPON  MOTHER INVEST
30% SALARY IN BUSINESS  LOVE

*** 5. Secret Message ***
AFTER SURRENDER FIFTY PERCENT AMERICANS LOST IN PHILIPPINES IN NIPPON 30% SALARY

In [342]:
ko_en = open('ko_en.txt', 'w') # 새 파일 열기
ko_en.write('''ko	en
나는 학생이다.	I am a student.
그녀는 내 언니이다.	She is my sister.
그녀는 행복하다.	She is happy.
너는 피곤하다.	You are tired.
너는 집에 있다.	You are home.
그들은 교실에 있다.	They are in the classroom.
그녀는 작가이다.	She is a writer.
그들은 친절하다.	They are kind.
그들은 뉴욕에 있다.	They are in New York.
그녀는 작가가 아니다.	She is not a writer.
그들은 친절하지 않다.	They are not kind.
그들은 뉴욕에 있지 않다.	They are not in New York.
그녀는 작가인가요?	Is she a writer?
그들은 친절한가요?	Are they kind?
그들은 뉴욕에 있나요?	Are they in New York?''')                      
ko_en.close() # 꼭 닫아줘야 한다!

In [352]:
ko_en = open('ko_en.txt', 'r')
dic = {}
for i in ko_en.readlines():
    ilst = i.split("\t")
    dic[ilst[0]] = ilst[1].replace("\n", "")
dic

{'ko': 'en',
 '나는 학생이다.': 'I am a student.',
 '그녀는 내 언니이다.': 'She is my sister.',
 '그녀는 행복하다.': 'She is happy.',
 '너는 피곤하다.': 'You are tired.',
 '너는 집에 있다.': 'You are home.',
 '그들은 교실에 있다.': 'They are in the classroom.',
 '그녀는 작가이다.': 'She is a writer.',
 '그들은 친절하다.': 'They are kind.',
 '그들은 뉴욕에 있다.': 'They are in New York.',
 '그녀는 작가가 아니다.': 'She is not a writer.',
 '그들은 친절하지 않다.': 'They are not kind.',
 '그들은 뉴욕에 있지 않다.': 'They are not in New York.',
 '그녀는 작가인가요?': 'Is she a writer?',
 '그들은 친절한가요?': 'Are they kind?',
 '그들은 뉴욕에 있나요?': 'Are they in New York?'}

In [364]:
a = random.choice(list(dic.keys()))
print("Write the following sentence in English.\n", a)


ans = input("your answer: ")

if ans == dic[a]:
    print("result: Correct!")
else:
    print("result: Not Correct!\nright answer:", dic[a])

Write the following sentence in English.
 그들은 뉴욕에 있지 않다.

your answer:  She is not a writer.

result: Not Correct!
right answer: They are not in New York.

* pickle : 복잡한 자료를 파일에 쓰고 읽는 방법

In [366]:
users = {'kim':'3kid9', 'sun80':'393948', 'ljm':'py90390'}
f = open('users', 'wb') #wb : 바이트 형식으로 쓰겠다
import pickle
pickle.dump(users, f) #users를 f에 기록
f.close()

In [367]:
f = open('users', 'rb')
a = pickle.load(f)
print(a)

{'kim': '3kid9', 'sun80': '393948', 'ljm': 'py90390'}

* glob : 파일들의 리스트를 뽑을 때 사용

In [368]:
from glob import glob
glob('*.exe') #현재 디렉토리의 exe 파일

[]

In [369]:
glob('*.txt')

['ko_en.txt', 'letter.txt', 'postcard.txt', 'Python_for_Fun.txt']

*  r로 시작하는 원시(raw) 문자열

In [370]:
glob(r'C:\U*')              # C:\에서 이름이 U로 시작하는 디렉터리나 파일을 찾기

['C:\\Users']

* os.path

In [371]:
from glob import glob
from os.path import isdir

In [373]:
for x in glob('*'):
    if isdir(x):                # 디렉터리인가?
        print(x, '<DIR>') # 맞다면 <DIR> 붙이기
    else:
        print(x)

2021 <DIR>
2022 <DIR>
git <DIR>
kaggle <DIR>
ko_en.txt
letter.txt
medistep <DIR>
postcard.txt
Python_for_Fun.txt
Untitled.ipynb
users
왕초보실습.ipynb
확인.ipynb

In [375]:
song1 = open("korean_national_anthem_1.txt", "w")
song1.write("""동해 물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세.
무궁화 삼천리 화려 강산
대한 사람, 대한으로 길이 보전하세.""")
song1.close()

In [376]:
song2 = open("korean_national_anthem_2.txt", "w")
song2.write("""남산 위에 저 소나무, 철갑을 두른 듯
바람 서리 불변함은 우리 기상일세.
무궁화 삼천리 화려 강산
대한 사람, 대한으로 길이 보전하세.""")
song2.close()

In [377]:
song3 = open("korean_national_anthem_3.txt", "w")
song3.write("""가을 하늘 공활한데 높고 구름 없이
밝은 달은 우리 가슴 일편단심일세.
무궁화 삼천리 화려 강산
대한 사람, 대한으로 길이 보전하세.""")
song3.close()

In [378]:
song4 = open("korean_national_anthem_4.txt", "w")
song4.write("""이 기상과 이 맘으로 충성을 다하여
괴로우나 즐거우나 나라 사랑하세.
무궁화 삼천리 화려 강산
대한 사람, 대한으로 길이 보전하세.""")
song4.close()

In [391]:
song1 = open("korean_national_anthem_1.txt", "r")
song2 = open("korean_national_anthem_2.txt", "r")
song3 = open("korean_national_anthem_3.txt", "r")
song4 = open("korean_national_anthem_4.txt", "r")

In [392]:
song1 = song1.read()
song2 = song2.read()
song3 = song3.read()
song4 = song4.read()

In [394]:
out = open("out.txt", "w")
out.write(song1 + song2 + song3 + song4)
out.close()

In [396]:
out = open("out.txt", "r")
print(out.read())

동해 물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세.
무궁화 삼천리 화려 강산
대한 사람, 대한으로 길이 보전하세.남산 위에 저 소나무, 철갑을 두른 듯
바람 서리 불변함은 우리 기상일세.
무궁화 삼천리 화려 강산
대한 사람, 대한으로 길이 보전하세.가을 하늘 공활한데 높고 구름 없이
밝은 달은 우리 가슴 일편단심일세.
무궁화 삼천리 화려 강산
대한 사람, 대한으로 길이 보전하세.이 기상과 이 맘으로 충성을 다하여
괴로우나 즐거우나 나라 사랑하세.
무궁화 삼천리 화려 강산
대한 사람, 대한으로 길이 보전하세.

In [397]:
import glob

outfile = open("out.txt", "wt")

for x in glob.glob("korean_national_anthem_?.txt"):
    infile = open(x, "rt")
    #infile = open(x, "rt", encoding="utf-8-sig") # https://stackoverflow.com/a/44573867
    
    outfile.write(x + '\n')
    outfile.write('-' * len(x) + '\n')
    outfile.write(infile.read() + "\n\n")

outfile.close()

In [398]:
out = open("out.txt", "r")
print(out.read())

korean_national_anthem_1.txt
----------------------------
동해 물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세.
무궁화 삼천리 화려 강산
대한 사람, 대한으로 길이 보전하세.

korean_national_anthem_2.txt
----------------------------
남산 위에 저 소나무, 철갑을 두른 듯
바람 서리 불변함은 우리 기상일세.
무궁화 삼천리 화려 강산
대한 사람, 대한으로 길이 보전하세.

korean_national_anthem_3.txt
----------------------------
가을 하늘 공활한데 높고 구름 없이
밝은 달은 우리 가슴 일편단심일세.
무궁화 삼천리 화려 강산
대한 사람, 대한으로 길이 보전하세.

korean_national_anthem_4.txt
----------------------------
이 기상과 이 맘으로 충성을 다하여
괴로우나 즐거우나 나라 사랑하세.
무궁화 삼천리 화려 강산
대한 사람, 대한으로 길이 보전하세.

## 7. 객체지향

In [400]:
class Singer:                      # 가수를 정의하겠느니라…
    def sing(self):                # 노래하기 메서드 (클래스 내부에서 정의된 함수)
        return "Lalala~"
  
taeji = Singer()                   # 태지를 만들어랏!
taeji.sing()                       # 노래 한 곡 부탁해요~

'Lalala~'

In [401]:
ricky = Singer()
ricky.sing()

'Lalala~'

In [420]:
class Amazon:
    strength = 20
    dexterity = 25
    vitality = 20
    energy = 15
    def attack(self):
        return 'Jab!!!'
    def exercise(self):
        self.strength += 2
        self.dexterity += 3
        self.vitality += 1

In [421]:
jane = Amazon()
mary = Amazon()

In [426]:
jane.strength

20

In [429]:
jane.attack()

'Jab!!!'

In [424]:
mary.exercise()

In [425]:
mary.strength

22

In [431]:
class Person:
    # 눈 두 개, 코 하나, 입 하나...
    eyes = 2
    nose = 1
    mouth = 1
    ears = 2
    arms = 2
    legs = 2

    # 듣고 느끼고 생각하고...
    def hear(self):
        print('쫑긋...')

    def feel(self):
        print('오오...')

    def think(self):
        print('흠...')

In [433]:
class WoL(Person):     # Person 클래스를 상속받음
    def attack(self):
        print('퍽퍽...')

In [434]:
mac2 = WoL()
mac2.think()

흠...

In [435]:
mac2.attack()

퍽퍽...

In [436]:
mac2.mouth

1

In [438]:
class Fridge:
    def __init__(self):
        self.isOpened = False
        self.foods = []
    
    def open(self):
        self.isOpened = True
        print('냉장고 문을 열었어요...')
    
    def put(self, thing):
        if self.isOpened:
            self.foods.append(thing)
            print('냉장고 속에 음식이 들어갔네...')
        else:
            print('냉장고 문이 닫혀있어서 못넣겠어요...')
    
    def close(self):
        self.isOpened = False
        print('냉장고 문을 닫았어요...')

class Food:
    pass

In [439]:
f = Fridge()
apple = Food()
elephant = Food()

In [440]:
f.open()

냉장고 문을 열었어요...

In [441]:
f.put(apple)

냉장고 속에 음식이 들어갔네...

In [442]:
f.put(elephant)

냉장고 속에 음식이 들어갔네...

In [451]:
print(f.foods) #내용물은 어떻게 봄?????????

[<__main__.Food object at 0x000001DE1B950280>, <__main__.Food object at 0x000001DE1B950B80>]

In [453]:
class Book:

    def setData(self, title, price, author):
        self.title = title
        self.price = price
        self.author = author

    def printData(self):
        print('제목 : ', self.title)
        print('가격 : ', self.price)
        print('저자 : ', self.author)

    def __init__(self): #초기화 메서드 (생성자)
        print('책 객체를 새로 만들었어요~')

In [454]:
b = Book()

책 객체를 새로 만들었어요~

In [455]:
b.setData('누가 내 치즈를 먹었을까', '300원', '미키')
b.printData()

제목 :  누가 내 치즈를 먹었을까
가격 :  300원
저자 :  미키

In [467]:
class Book:

    def setData(self, title, price, author):
        self.title = title
        self.price = price
        self.author = author

    def printData(self):
        print('제목 : ', self.title)
        print('가격 : ', self.price)
        print('저자 : ', self.author)

    def __init__(self, title, price, author):
        self.setData(title, price, author)
        print('책 객체를 새로 만들었어요~')
        
    def __del__(self): #소멸자
        print('책 객체를 소멸시켜버렸어요~')
        
    def __repr__(self): #프린팅
        return self.title

In [464]:
b2 = Book('내가 먹었지롱', '200원', '미니')

책 객체를 새로 만들었어요~

In [465]:
b2.printData()

제목 :  내가 먹었지롱
가격 :  200원
저자 :  미니

In [466]:
del b2

책 객체를 소멸시켜버렸어요~

In [469]:
b3 = Book('나두 좀 줘', '100원', '쥐벼룩')

책 객체를 새로 만들었어요~

In [470]:
print(b3)

나두 좀 줘

In [471]:
b3

나두 좀 줘

In [517]:
class Shape:

    area = 0

    def __add__(self, other): #연산자(+)가 하는 일 정의 : 연산자 중복
        return self.area + other.area
    def __sub__(self, other): #연산자(-)가 하는 일 정의 : 연산자 중복
        return self.area - other.area
    

    def __lt__(self, other): #비교 메서드
        return (self.area < other.area)
    def __eq__(self, other): #비교 메서드
        return (self.area == other.area)

In [522]:
a = Shape()
a.area = 30
b = Shape()
b.area = 20
a + b, a - b

(50, 10)

In [523]:
a.__add__(b)

50

In [524]:
a == b

False

In [525]:
if a > b:
    print('a가 더 넓어요~')

a가 더 넓어요~