# 김왼손의 왼손코딩 1일 1파이썬 : 초급자를 위한 파이썬 50제
## 30 seconds of code
### 2022-04-07 3일차

## 21 initial
Returns all the elements of a list except the last one.

Use lst[0:-1] to return all but the last element of the list

In [3]:
def initial(lst):
    return lst[0:-1]

In [4]:
initial([1, 2, 3, 4, 5])

[1, 2, 3, 4]

## 22 initialize_list_with_range

Initializes a list containing the numbers in the specified range where start and end are inclusive with their common difference step.

Use list and range() to generate a list of the appropriate length, filled with the desired values in the given range. Omit start to use the default value of 0. Omit step to use the default value of 1.

In [5]:
def initialize_list_with_range(end, start = 0, step = 1):
    return list(range(start, end + 1, step))

In [6]:
initialize_list_with_range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
initialize_list_with_range(10, 3)

[3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
initialize_list_with_range(10, 3, 2)

[3, 5, 7, 9]

## 23 initialize_list_with_values
Initializes and fills a list with the specified value.

Use list comprehension and range() to generate a list of length equal to n, filled with the desired values, Omit val to use the default value of 0.

In [9]:
def initialize_list_with_values (n, val = 0):
    return [ val for i in range(n)]

In [10]:
initialize_list_with_values(3)

[0, 0, 0]

In [11]:
initialize_list_with_values(3, 1)

[1, 1, 1]

## 24 intersection
Returns a list of elements that exist in both lists.

Create a set from a and b, then use the built-in set operator & to only keep values contained in both sets, then transform the set back into a list.

In [12]:
def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

In [13]:
intersection([1, 2, 3, 4, 5], [2, 4, 6, 8])

[2, 4]

## 25 is_divisible
Cheks if the first numeric argument is divisible by the second one.

Use the modulo operator(%) to check if the remainder is equal to 0.

In [14]:
def is_divisible(num1, num2):
    return num1 % num2 == 0

In [15]:
is_divisible(4, 2)

True

In [16]:
is_divisible(5, 3)

False

## 26 is_even

Returns True if the given number is even, False otherwise.

Checks whether a number is odd or even using the modulo(%) operator. Returns True if the number is even, False if the number is odd.

In [17]:
def is_even(n):
    return n % 2 == 0

In [18]:
is_even(2)

True

In [19]:
is_even(3)

False

## 27 is_odd

Returns True if the given number is odd, False otherwise.

Checks whether a number is even or odd using the modulo(%) operator. Returns True if the number is odd, False if the number is even.

In [20]:
def is_odd(n):
    return n % 2 != 0

In [21]:
is_odd(2)

False

In [22]:
is_odd(3)

True

## 28 keys_only
Returns a flat list of all the keys in a flat dictionary.

Use dict.keys() to return the keys in the given dictionary. Return a list() of the previous result.

In [23]:
def keys_only(dic):
    return list(dic.keys())

In [26]:
keys_only({"a": 1, "b": 2})

['a', 'b']

## 29 last
Returns the last element in a list.

use lst[-1] to return the last element of the passed list.

In [27]:
def last(lst):
    return lst[-1]

In [28]:
last([1, 2, 3, 4, 5])

5

## 30 max_by
Returns the maximum value of a list, after mapping each element to a value using the provided function.

Use map() with fn to each element to a value using the provided function, use max() to return rhe maximum value.

In [29]:
def max_by(lst, fn):
    return max(map(fn, lst))

In [32]:
max_by([{"n":4}, {"n":2}, {"n":1, "b":8}, {"n":6}], lambda v : v["n"])

6

## 31 max_element_index
Returns the index of the element with the maximum value in a list.

Use max() and list.index() to get the maximum value in the list and return its index.

In [33]:
def max_element_index(lst):
    return lst.index(max(lst))

* **index : 해당하는 값 중 가장 첫 값의 인덱스를 return**

In [37]:
max_element_index([1, 2, 3, 5, 5, 1])

3

## 32 max_n
Returns the n maximum elements from the provided list. If n is greater than or equal to the provided list's length, then return the original list (sorted in descending order).

Use sorted() to sort the list, [:n] to get the specified number of elements. Omit the second argument, n, to get a one-element list.

In [45]:
# try

def max_n(lst, n = 1):
    lst.sort(reverse = True)
    if n > len(lst):
        return lst
    else:
        return lst[:n]

In [46]:
A = [1, 2, 3, 4, 5]
max_n(A, 3)

[5, 4, 3]

In [47]:
max_n(A, 10)

[5, 4, 3, 2, 1]

In [48]:
max_n(A)

[5]

In [49]:
# answer

def max_n(lst, n = 1):
    return sorted(lst, reverse = True)[:n]

In [50]:
max_n(A, 10)

[5, 4, 3, 2, 1]

* **[:n] n값이 리스트 길이 보다 큰 경우 모든 값이 출력된다.**
* **[:n] n값이 음수인 경우 절대값 숫자만큼 값이 뒤에서 빠진다.**
* **[:n] n값이 음수이고, 절대값이 리스트 길이 보다 큰 경우 아무 값도 출력되지 않는다.**

In [55]:
A[:-2]

[5, 4, 3]