# 김왼손의 왼손코딩 1일 1파이썬 : 초급자를 위한 파이썬 50제
## 30 seconds of code
### 2022-04-06 2일차

## 12 every_nth
Returns every nth element in a list.

Use [nth-1::nth] to create a new list that contains every nth element of the given list.

모든 n번째 값을 return해보자.

In [8]:
def every_nth(lst, n):
    return lst[n-1::n] # n-1번째 인덱스부터 끝까지, n step씩 건너뛰기.

In [10]:
every_nth([1, 2, 3, 4, 5, 6], 2)

[2, 4, 6]

## 13 fahrenheit_to_celsius

Converts Fahrenheit to Celsius.

Use the formula celsius = (fahrenheit - 32) / 1.8 to convert from Fahrenheit to Celsius.

In [11]:
def fahrenheit_to_celsius(fah):
    return (fah - 32) / 1.8

In [13]:
fahrenheit_to_celsius(77)

25.0

## 14 filter_non_unique
Filters out the non_unique values in a list.

Use a collections.Counter to get the count of each value in the list. Use list comprehension to create a list containing only the unique values.

* filter : 거르다.
유일하지 않은 값을 필터링해보자.

In [23]:
from collections import Counter

print(Counter([1, 2, 3, 2]))
#각 원소의 갯수를 세는 함수. Dictionary 형태로 나옴.
print(Counter([1, 2, 3, 2]).items())
print(Counter([1, 2, 3, 2]).keys())
print(Counter([1, 2, 3, 2]).values())

Counter({2: 2, 1: 1, 3: 1})
dict_items([(1, 1), (2, 2), (3, 1)])
dict_keys([1, 2, 3])
dict_values([1, 2, 1])

In [26]:
def filter_non_unique(lst):
    return [i for i, count in Counter(lst).items() if count == 1]

In [27]:
filter_non_unique([1, 2, 3, 4, 2])

[1, 3, 4]

## 15 filter_unique
Filters out the unique values in a list.

Use a collections.Counter to get the count of each value in the list. Use list comprehension to create a list containing only the non-unique values.

In [28]:
def filter_unique(lst):
    return [i for i, count in Counter(lst).items() if count > 1]

In [29]:
filter_unique([1, 2, 3, 4, 2])

[2]

## 16 for_each
Executes the provided function once for each list element.

Use a for loop to execute fn for each element in itr.

In [30]:
def for_each(itr, fn):
    for i in itr:
        fn(i)

In [31]:
for_each([1, 2, 3], print)

1
2
3

## 17 for_each_right
Executes the provided function once for each list element, starting from the list's last element.

Use a for loop in combination with slice notation to execute fn for each element in itr, starting from the last one.

In [36]:
#풀이
def for_each_right(itr, fn):
    n = len(itr)
    for i in range(1, n+1):
        fn(itr[-i])

In [37]:
for_each_right([1, 2, 3], print)

3
2
1

* **[::-1] : 역순으로**

In [38]:
#답
def for_each_right(itr, fn):
    for i in itr[::-1]: 
        fn(i)

In [39]:
for_each_right([1, 2, 3], print)

3
2
1

## 18 has_duplicates
Returns True if there are duplicate values in a flat list, False otherwise.

Use set() on the given list to remove duplicates, compare its length with the length of the list.

In [42]:
def has_duplicates(lst):
    return len(lst) != len(set(lst))

In [43]:
has_duplicates([1, 2, 3, 4, 5])

False

In [44]:
has_duplicates([1, 2, 3, 4, 4])

True

## 19 head
Returns the head of a list.

Use lst[0] to return the first element of the passed list.

In [45]:
def head(lst):
    return lst[0]

In [46]:
head([1, 2, 3, 4, 5])

1

## 20 in_range
Checks if the given number falls within given range.

Use arithmetice comparision to check if the given number is in the specified range. If the second parameter, end, is not specified, the range is considered to be from 0 to start.

In [53]:
def in_range(num, start, end = 0):
    return end <= num <= start if end == 0 else start <= num <= end

In [54]:
in_range(3, 2, 4)

True

In [55]:
in_range(5, 2, 4)

False

In [56]:
in_range(3, 2)

False

In [57]:
in_range(3, 5)

True